.Biography{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 600px;        
    text-align: center;        
    font-size: 18px;
    height: 84%;
    line-height: 1.6;
    position: relative;
    padding: 60px 60px 60px 20px; /* if you want extra right padding */
    margin-right: 9%;
    margin-bottom: 12%;
    margin-top: 4%;
    left:-1%;
    background-color:  #ffafb8;
       
}

.About-me {
    display: flex;
    justify-content: flex-end;
    height: 800px;
    position: relative;
    

} 


.Biography h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    display:inline-block;
    color: #f36767;
    -webkit-text-stroke: 2px black;
} 



.Biography p {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-align: left;
}

.Biography::before {
    content: " ";
    position: absolute;
    background-color: #887a7a;
    border-radius: 25px;
    width: 600px;
    height: 100%;
    left: 3%;
    bottom: 4%;
    z-index: -1;
    transform: translateX(0%) translateY(0%);
    transition: transform 1s ease ;
}

.Biography.animate::before{
    transform: translateX(6.6%) translateY(6.6%);
}

.Biography::after {
    content: " ";
    position: absolute; 
    width: 45%;
    background-color: black;
    top: 10%;
    height: 3px;
    left: 25%;
    transform: scale(0);
}

.Biography.animate::after{
    animation: growLine 1s linear forwards;
}

@keyframes growLine {
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(0.5);
    }
} 
 
