.Biography{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    max-width: 600px;        
    text-align: center;        
    font-size: 18px;
    height: 80%;
    line-height: 1.6;
    position: relative;
    padding: 20px 60px 20px 20px; /* if you want extra right padding */
    margin-right: 9%;
    margin-bottom: 12%;
    box-shadow: 0px 0px rgb(148, 39, 39);
    margin-top: 4%;
    background-color: rgb(228, 228, 118);
    
    
}

.About-me {
    display: flex;
    justify-content: flex-end;
    height: 800px;
    position: relative;
    

} 


.Biography.animate {
    animation: Move-Shadow 1s linear forwards;

}


@keyframes Move-Shadow {

    from {
        box-shadow: 0px 0px rgb(148, 39, 39);
    }
    to {
        box-shadow: 40px 40px  rgb(148, 39, 39); 
    }
}




.Biography h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    display:inline-block;
    color: rgb(120, 7, 7);
    -webkit-text-stroke: 1px black;
} 



.Biography p {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 10;
    text-align: left;
}

.Biography::after {
    content: " ";
    position: absolute; 
    width: 30%;
    background-color: black;
    top: 12%;
    height: 3px;
    left: 30%;
    transform: scale(0);
}

.Biography.animate::after{
    animation: growLine 1s linear forwards;
}

@keyframes growLine {
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(0.5);
    }
} 
 
