.Contact-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.succes-card {
  padding: 20px; 
  height: 50px; 
  width: 100px;
  background-color: white;
}

#my-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffafb8;
    padding: 50px;
    padding-bottom: 40px;
    border-radius: 15px;

    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1s ease ,opacity 1s ease;

    &.active {
        transform: translateY(0px);
        opacity: 1;

        & h2 {
            opacity: 1;
            transform: translateY(0px);    
        }

        & hr {
            transform: scale(1);
        }
    } 
}

.contact-left-title  {
    font-size: 30px;
    margin-bottom:25px;

}

.contact-left-title h2{
    -webkit-text-stroke: 1.5px black;
    color:#f36767;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 1s ease ,opacity 1s ease;

}

.contact-left-title hr {
    background-color: black;
    border-color: rgb(148, 39, 39);
    height: 5px;
    transform: scale(0);
    transition: transform 1.5s ease;
}

.contact-inputs {
    height: 30px;
    width: 350px;
    border:none;
    outline:none;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-30px);
    transition: transform 1s ease ,opacity 1s ease;

    &.active {
        opacity: 1;
        transform: translateX(0px);
    }
}

.email-submit {
    background-color: beige;
    box-shadow: 0px 0px 5px 3px #f36767;
    border: none;
    width:100px;
    height: 30px;
    border-radius: 20px;
    margin-top:10px;
    cursor: pointer;
}

#my-form textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}

.contact-inputs:focus{
    border: 2px solid black;
}

[data-fs-success],
[data-fs-error] {
  color: lightcoral;
  font-weight: bold;
  margin-top: 1rem;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

[data-fs-success].remove,
[data-fs-error].remove {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s 2s ease, transform 0.5s 2s ease;
}
