body {
    width: 100%;
    background-color: #efe9e2;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100dvh;
    scroll-snap-align: start;

}

@media (max-width: 500px) {

    section {
        scroll-snap-align: none;
    }
}


