/* 
nav {
  position: sticky;
  top: 0;
  display: flex;
  flex:1;
  background-color: rgba(255, 255, 255, 0.473);
  z-index: 1;
} */
nav {

    position: fixed;
    top: 0;
    left: 0;

    width: 30%;
    height: 30vh; /* important */
    

    padding: 30px 0 30px 10px;

    overflow: hidden;
    z-index: 1000;
}

li {
    list-style-type: none;
}



.nav-text {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 20vh;
    transform: translateY(0rem);
    transition: transform 300ms ease;
    
    a {
        text-decoration: none;
        color: black;
        transition: color 300ms ease;

        &::after {
            content: "";
            height: 2px;
            z-index: 2;
            width: 2.3rem;
            display: block;
            background-color: black; 
            transform:  translateX(3.2rem) scale(0);
            transition: opacity 0.3s ease, transform 0.3s ease;
        
        } 
        
        &:hover{
            color: rgb(165, 42, 42);

            &::after {
                transform: translateX(3.2rem) scale(1);
            }

        }

        
    }

    &:hover {
        transform: translateY(-0.3rem);
    }



}




.nav_page {
    list-style: none;
    background-color: rgba(238, 238, 206, 0.868);
    width: 20vh;
    height: 20vh;
    line-height: 1.5rem;
    padding-left: 5px;
    padding-top:0.5rem;
    z-index: 1;
    top: 0rem;
    position:absolute;
    opacity: 0;
    transform: translateX(0rem);
    transition: opacity 0.3s 0.5s ease, transform 0.3s 0.5s ease;

}

i {
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
    position: relative;
    font-size: 30px;
}

.menu {
    transform: translateY(1rem) translateX(0.5rem);

    &:hover > i {
        opacity: 0;

    }

    &:hover > .nav_page {
        opacity: 1;
        transform: translateX(1rem);
    }

}