.skill-group{ 
    width: 350px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.441);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    padding: 40px;  
    min-width: 50px;
    background-color: #ffafb8;
    top: 0rem;
    position: relative;
    transition: top 0.3s ease;


    /* transform: translateY(0);
    transition: transform 1s ease; */
}

.skill-wrapper{
    &:hover > .skill-group {
        top: -2rem; 


    }

    &:hover h3 {
            color:#EF233C;
            -webkit-text-stroke: 0.3px #2b2d42;

    }

}

.skill-shadow{
    position: absolute;
    border-radius: 12px;
    gap: 20px;
    width: 350px;
    height: 150px;
    background-color: #887a7a;
    z-index: -1;
    transform: translate(0rem, -9.35rem);
    transition:transform 1s ease;

    &.animate {
        transform: translate(2.5rem, -7rem);
        
    }

}


.skill-group h3 {
  font-size: 20px; 
  margin-left: 0px; 
  display:inline-block;
  transform: translateY(0.3rem);
  font-style: bold;
  margin-left:15px;
  transition: color 0.5s ease, -webkit-text-stroke 0.5s ease;
} 

.skill-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translateY(-1.5rem) translateX(-0.5rem);
    border: 2px solid #f36767;

}




.Skills{
    display: flex;
    flex-direction: row;
    gap: 60px; 
    align-items: center;
    position: relative;
    left: 180px;
    
    & p {
        font-size: 0.9rem;
        font-family: "Montserrat Alternates", sans-serif;
        line-height: 1.5;
        font-weight: 600;
        

    }
}


.social-icon{
    display:inline-block;
    object-fit: cover;
    width:30px;
    height:30px; 
    margin-right: 10px;
}





/*Use @media to put the rest in column form*/